.settings {
  position: relative;
  display: flex;
  flex: 1;
  margin: 20px 40px 60px 40px;
}

.settings-footer {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;

  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);

  a {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;

    font-weight: bold;
    color: $white;
    &:active, &:focus {
      color: $white;
    }

    &:hover {
      color: $white;
      cursor: pointer;
    }
  }
}

.settings-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;

  section {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
}

.settings-option {
  margin-top: 20px;
  position: relative;
}

.settings-info {
  h3 {
    font-weight: bold;
    color: white;
  }

  p {
    color: rgba($white, .5);
    font-size: 13px;
    font-weight: 500;
  }
}
