// =============================================================================
// Variables
// =============================================================================

// Typography
// =============================================================================

$sans-serif: 'Lato', "usual", "usual", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
$serif: Courier, serif;
$base-font-family: $sans-serif;
$base-font-weight: 400;
$base-font-weight-bold: 700;
$base-background-color: #313131;

// Colors
// =============================================================================

// Shades of gray

$black: #000;
$gray-darkest: #1e1f2f;
$gray-darker: lighten($gray-darkest, 10);
$gray-dark: lighten($gray-darkest, 30);
$gray: lighten($gray-darkest, 45);
$gray-light: lighten($gray-darkest, 60);
$gray-lighter: lighten($gray-darkest, 78);
$gray-lightest: lighten($gray-darkest, 82);
$white: #fff;
$black: #333;

// Brand colors

$brand-success: #2bcb1f;
$brand-danger: #f04f26;
$brand-primary: #666EE8;
$brand-warning: #f60;

// Font colors

$base-font-color: $gray-dark;
$base-accent-color: $brand-primary;
$base-accent-highlighted-color: darken($base-accent-color, 15);

// Border color

$base-border-color: $gray-lightest;

// Sizes
// =============================================================================

// Font sizes

$base-font-size: 16px;
$base-line-height: 1.6;

// Box sizes

$base-border-radius: 3px;

// Effects
// =============================================================================

$base-transition-speed: 150ms;
