// =============================================================================
// Buttons
// =============================================================================

// Settings
// =============================================================================

// Scaffold buttons with a given color and background.
// @param {Hex} $background color for the button background.
// @param {Hex} $font color for the button text.

@mixin button-generator($background, $font) {
  color: $font;
  background-color: $background;
  border-color: darken($background, 3);
  border-bottom-color: darken($background, 5);

  &:hover {
    color: $font;
    background-color: lighten($background, 5);
  }

  &:focus {
    color: $font;
    outline: none;
  }

  &:active {
    color: $font;
    background-color: darken($background, 3);
    outline: none;
  }
}

// Component
// =============================================================================

.button {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  font-family: $base-font-family;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: $base-border-radius;
  box-shadow: 0 2px 2px rgba($black, .02);
  transition: all $base-transition-speed ease-in-out;
  appearance: none;
  user-select: none;

  &:disabled,
  &.is-disabled {
    color: $gray-light;
    cursor: not-allowed;
    background-color: $gray-lightest;

    &:hover,
    &:focus,
    &:active {
      color: $gray-light;
      background-color: $gray-lightest;
      outline: none;
    }
  }
}

// Descendants
// =============================================================================

.button-block {
  width: 100%;
}

.button-group {
  display: inline-block;

  .button {
    margin-left: -1px;
    border-radius: 0;
  }

  .hint--bottom:first-of-type .button {
    border-bottom-left-radius: $base-border-radius;
    border-top-left-radius: $base-border-radius;
  }

  .hint--bottom:last-of-type .button {
    border-top-right-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
  }
}

// Color picker

table .button.button-color {
  padding: 5px 10px;
}

.button-color-value {
  display: inline-block;
  width: 28px;
  height: 21px;
  border-radius: 2px;
}

// Basic generated buttons

.button-default {
  @include button-generator($white, $base-font-color);
  border-color: darken($gray-lighter, 5);
}

.button-danger {
  @include button-generator($brand-danger, $white);
}

.button-primary {
  @include button-generator($brand-primary, $white);
}

.button-success {
  @include button-generator($brand-success, $white);
}

.button-warning {
  @include button-generator($brand-warning, $white);
}
