// =============================================================================
// Container
// =============================================================================
html,
body {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  -webkit-app-region: drag;
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: auto;
    margin-left: 60px;
    margin-bottom: 50px;

		width: 540px;

		.win32 & {
			width: 470px;
		}
  }
}
